[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
